<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week 4 Homework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEE4C32F1D086E7E0078E6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE4C3431D086E7E0078E6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE4C34E1D086E7E0078E6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
